body {
  font-family: Sofia Sans;
}
.display-1 {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 2.875rem;
  line-height: 150%;
}
.display-1 > .mbr-iconfont {
  font-size: 3.59375rem;
}
.display-2 {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 2.625rem;
  line-height: 100%;
}
.display-2 > .mbr-iconfont {
  font-size: 3.28125rem;
}
.display-4 {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 24px;
}
.display-4 > .mbr-iconfont {
  font-size: 1.71875rem;
}
.display-5 {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 2rem;
  line-height: 150%;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.0125rem;
    font-size: calc( 1.65625rem + (2.875 - 1.65625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.65625rem + (2.875 - 1.65625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.1rem;
    font-size: calc( 1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 12px;
}
.bg-primary {
  background-color: #222222 !important;
}
.bg-success {
  background-color: #ffcd9f !important;
}
.bg-info {
  background-color: #b4dcfa !important;
}
.bg-warning {
  background-color: #e3b4fa !important;
}
.bg-danger {
  background-color: #fd282d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6928 !important;
  border-color: #ff6928 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #d03f00 !important;
  border-color: #d03f00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d03f00 !important;
  border-color: #d03f00 !important;
}
.btn-info,
.btn-info:active {
  background-color: #b4dcfa !important;
  border-color: #b4dcfa !important;
  color: #0b62a4 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #63b6f5 !important;
  border-color: #63b6f5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #0b62a4 !important;
  background-color: #63b6f5 !important;
  border-color: #63b6f5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffcd9f !important;
  border-color: #ffcd9f !important;
  color: #9f4c00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #ffa048 !important;
  border-color: #ffa048 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #9f4c00 !important;
  background-color: #ffa048 !important;
  border-color: #ffa048 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e3b4fa !important;
  border-color: #e3b4fa !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #c563f5 !important;
  border-color: #c563f5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #c563f5 !important;
  border-color: #c563f5 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fd282d !important;
  border-color: #fd282d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #cc0207 !important;
  border-color: #cc0207 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc0207 !important;
  border-color: #cc0207 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #222222;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #222222 !important;
  border-color: #222222 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6928;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d03f00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6928 !important;
  border-color: #ff6928 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b4dcfa;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #63b6f5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #0b62a4 !important;
  background-color: #b4dcfa !important;
  border-color: #b4dcfa !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffcd9f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffa048 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #9f4c00 !important;
  background-color: #ffcd9f !important;
  border-color: #ffcd9f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e3b4fa;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #c563f5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e3b4fa !important;
  border-color: #e3b4fa !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fd282d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #cc0207 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #fd282d !important;
  border-color: #fd282d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #222222 !important;
}
.text-secondary {
  color: #ff6928 !important;
}
.text-success {
  color: #ffcd9f !important;
}
.text-info {
  color: #b4dcfa !important;
}
.text-warning {
  color: #e3b4fa !important;
}
.text-danger {
  color: #fd282d !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #c13a00 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #ff9839 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #54aff4 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #bf54f4 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #bd0206 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #222222;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #b4dcfa;
}
.alert-warning {
  background-color: #e3b4fa;
}
.alert-danger {
  background-color: #fd282d;
}
.mbr-gallery-filter li.active .btn {
  background-color: #222222;
  border-color: #222222;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #222222;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d4d4d4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fff2f2;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 24px;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.71875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #222222 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 24px;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.71875rem;
}
blockquote {
  border-color: #222222;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #222222;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #222222;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #222222;
  border-bottom-color: #222222;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #222222 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6928 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23222222' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  box-shadow: none;
  padding: 22px;
}
@media (max-width: 768px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    padding: 10px 16px;
  }
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: none;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline,
.mbr-section-btn .btn-primary,
.mbr-section-btn-main .btn-primary {
  border: 2px solid #222222 !important;
}
.mbr-section-btn .btn-primary-outline:hover,
.mbr-section-btn-main .btn-primary-outline:hover,
.mbr-section-btn .btn-primary:hover,
.mbr-section-btn-main .btn-primary:hover,
.mbr-section-btn .btn-primary-outline:focus,
.mbr-section-btn-main .btn-primary-outline:focus,
.mbr-section-btn .btn-primary:focus,
.mbr-section-btn-main .btn-primary:focus {
  border: 2px solid #222222 !important;
}
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline,
.mbr-section-btn .btn-secondary,
.mbr-section-btn-main .btn-secondary {
  border: 2px solid #ff6928 !important;
}
.mbr-section-btn .btn-secondary-outline:hover,
.mbr-section-btn-main .btn-secondary-outline:hover,
.mbr-section-btn .btn-secondary:hover,
.mbr-section-btn-main .btn-secondary:hover,
.mbr-section-btn .btn-secondary-outline:focus,
.mbr-section-btn-main .btn-secondary-outline:focus,
.mbr-section-btn .btn-secondary:focus,
.mbr-section-btn-main .btn-secondary:focus {
  border: 2px solid #ff6928 !important;
}
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline,
.mbr-section-btn .btn-success,
.mbr-section-btn-main .btn-success {
  border: 2px solid #ffcd9f !important;
}
.mbr-section-btn .btn-success-outline:hover,
.mbr-section-btn-main .btn-success-outline:hover,
.mbr-section-btn .btn-success:hover,
.mbr-section-btn-main .btn-success:hover,
.mbr-section-btn .btn-success-outline:focus,
.mbr-section-btn-main .btn-success-outline:focus,
.mbr-section-btn .btn-success:focus,
.mbr-section-btn-main .btn-success:focus {
  border: 2px solid #ffcd9f !important;
}
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline,
.mbr-section-btn .btn-info,
.mbr-section-btn-main .btn-info {
  border: 2px solid #b4dcfa !important;
}
.mbr-section-btn .btn-info-outline:hover,
.mbr-section-btn-main .btn-info-outline:hover,
.mbr-section-btn .btn-info:hover,
.mbr-section-btn-main .btn-info:hover,
.mbr-section-btn .btn-info-outline:focus,
.mbr-section-btn-main .btn-info-outline:focus,
.mbr-section-btn .btn-info:focus,
.mbr-section-btn-main .btn-info:focus {
  border: 2px solid #b4dcfa !important;
}
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline,
.mbr-section-btn .btn-warning,
.mbr-section-btn-main .btn-warning {
  border: 2px solid #e3b4fa !important;
}
.mbr-section-btn .btn-warning-outline:hover,
.mbr-section-btn-main .btn-warning-outline:hover,
.mbr-section-btn .btn-warning:hover,
.mbr-section-btn-main .btn-warning:hover,
.mbr-section-btn .btn-warning-outline:focus,
.mbr-section-btn-main .btn-warning-outline:focus,
.mbr-section-btn .btn-warning:focus,
.mbr-section-btn-main .btn-warning:focus {
  border: 2px solid #e3b4fa !important;
}
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline,
.mbr-section-btn .btn-danger,
.mbr-section-btn-main .btn-danger {
  border: 2px solid #fd282d !important;
}
.mbr-section-btn .btn-danger-outline:hover,
.mbr-section-btn-main .btn-danger-outline:hover,
.mbr-section-btn .btn-danger:hover,
.mbr-section-btn-main .btn-danger:hover,
.mbr-section-btn .btn-danger-outline:focus,
.mbr-section-btn-main .btn-danger-outline:focus,
.mbr-section-btn .btn-danger:focus,
.mbr-section-btn-main .btn-danger:focus {
  border: 2px solid #fd282d !important;
}
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline,
.mbr-section-btn .btn-black,
.mbr-section-btn-main .btn-black {
  border: 2px solid #000000 !important;
}
.mbr-section-btn .btn-black-outline:hover,
.mbr-section-btn-main .btn-black-outline:hover,
.mbr-section-btn .btn-black:hover,
.mbr-section-btn-main .btn-black:hover,
.mbr-section-btn .btn-black-outline:focus,
.mbr-section-btn-main .btn-black-outline:focus,
.mbr-section-btn .btn-black:focus,
.mbr-section-btn-main .btn-black:focus {
  border: 2px solid #000000 !important;
}
.mbr-section-btn .btn-white-outline,
.mbr-section-btn-main .btn-white-outline,
.mbr-section-btn .btn-white,
.mbr-section-btn-main .btn-white {
  border: 2px solid #ffffff !important;
}
.mbr-section-btn .btn-white-outline:hover,
.mbr-section-btn-main .btn-white-outline:hover,
.mbr-section-btn .btn-white:hover,
.mbr-section-btn-main .btn-white:hover,
.mbr-section-btn .btn-white-outline:focus,
.mbr-section-btn-main .btn-white-outline:focus,
.mbr-section-btn .btn-white:focus,
.mbr-section-btn-main .btn-white:focus {
  border: 2px solid #ffffff !important;
}
.cid-uqAczbkBTT .navbar-dropdown {
  background-color: #fdf2ec !important;
  padding: 0;
}
.cid-uqAczbkBTT .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #fdf2ec !important;
  background: #fdf2ec;
}
.cid-uqAczbkBTT .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uqAczbkBTT .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uqAczbkBTT .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-uqAczbkBTT .menu_box .navbar.opened,
  .cid-uqAczbkBTT .menu_box .navbar-collapse {
    background-color: #fdf2ec !important;
    transition: all 0s ease 0s;
  }
}
.cid-uqAczbkBTT .navbar-dropdown {
  position: relative !important;
}
.cid-uqAczbkBTT .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}
@media (max-width: 991px) {
  .cid-uqAczbkBTT .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-uqAczbkBTT .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-uqAczbkBTT .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-uqAczbkBTT .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-uqAczbkBTT .offcanvas {
    padding: 12rem 64px 0;
    width: 50%;
    background-color: #ffcd9f;
  }
  .cid-uqAczbkBTT .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-uqAczbkBTT .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-uqAczbkBTT .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-uqAczbkBTT .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-uqAczbkBTT .offcanvas-body .mbr-text,
  .cid-uqAczbkBTT .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 32px;
  }
  .cid-uqAczbkBTT .offcanvas-body .offcanvas_contact {
    margin: 0;
  }
  .cid-uqAczbkBTT .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-uqAczbkBTT .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #222222;
  }
  .cid-uqAczbkBTT .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-uqAczbkBTT .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-uqAczbkBTT .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-uqAczbkBTT .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-uqAczbkBTT ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-uqAczbkBTT .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uqAczbkBTT .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-uqAczbkBTT .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-uqAczbkBTT li.nav-item {
    position: relative;
    display: inline-block;
    padding: 10px 14px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
    margin: 0;
    border-radius: 8px;
    border: 2px solid transparent;
  }
  .cid-uqAczbkBTT .lg_brand {
    margin: 0 1rem;
  }
}
.cid-uqAczbkBTT .nav-item {
  margin: 4px 15px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .cid-uqAczbkBTT .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-uqAczbkBTT .nav-item {
    margin: 0 !important;
  }
}
@media (min-width: 992px) {
  .cid-uqAczbkBTT .nav-item:hover,
  .cid-uqAczbkBTT .nav-item:focus {
    background-color: #ffffff;
    border-color: #ff6928;
  }
}
.cid-uqAczbkBTT .nav-item .nav-link {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.cid-uqAczbkBTT .nav-item .nav-link:hover,
.cid-uqAczbkBTT .nav-item .nav-link:focus {
  opacity: 1;
  color: #222222 !important;
}
.cid-uqAczbkBTT .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-uqAczbkBTT .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-uqAczbkBTT .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-uqAczbkBTT .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uqAczbkBTT .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-uqAczbkBTT .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-uqAczbkBTT .offcanvas_box {
    display: none;
  }
}
.cid-uqAczbkBTT .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-uqAczbkBTT .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-uqAczbkBTT .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-uqAczbkBTT .container {
  display: flex;
  margin: auto;
}
.cid-uqAczbkBTT .iconfont-wrapper {
  color: #222222;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-uqAczbkBTT .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-uqAczbkBTT .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-uqAczbkBTT .navbar-caption {
  color: #222222;
}
.cid-uqAczbkBTT .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-uqAczbkBTT .navbar-nav {
    margin: 0;
  }
}
.cid-uqAczbkBTT .dropdown-menu,
.cid-uqAczbkBTT .navbar.opened {
  background-color: false !important;
}
.cid-uqAczbkBTT .nav-item:focus,
.cid-uqAczbkBTT .nav-link:focus {
  outline: none;
}
.cid-uqAczbkBTT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uqAczbkBTT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uqAczbkBTT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uqAczbkBTT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uqAczbkBTT .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uqAczbkBTT .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uqAczbkBTT .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-uqAczbkBTT .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-uqAczbkBTT .navbar.opened {
  transition: all 0.3s;
}
.cid-uqAczbkBTT .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-uqAczbkBTT .navbar .navbar-logo img {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
  border-radius: 8px;
}
.cid-uqAczbkBTT .navbar .navbar-collapse {
  justify-content: center;
  justify-content: space-between;
  z-index: 1;
}
.cid-uqAczbkBTT .navbar.collapsed {
  justify-content: center;
}
.cid-uqAczbkBTT .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uqAczbkBTT .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uqAczbkBTT .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uqAczbkBTT .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uqAczbkBTT .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uqAczbkBTT .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-uqAczbkBTT .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uqAczbkBTT .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-uqAczbkBTT .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-uqAczbkBTT .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uqAczbkBTT .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uqAczbkBTT .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-uqAczbkBTT .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uqAczbkBTT .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-uqAczbkBTT .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uqAczbkBTT .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-uqAczbkBTT .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-uqAczbkBTT .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-uqAczbkBTT .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-uqAczbkBTT .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uqAczbkBTT .navbar .icons-menu {
    padding: 0;
  }
}
.cid-uqAczbkBTT .navbar.navbar-short {
  min-height: 60px;
}
.cid-uqAczbkBTT .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uqAczbkBTT .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uqAczbkBTT .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uqAczbkBTT .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-uqAczbkBTT .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uqAczbkBTT .dropdown-item.active,
.cid-uqAczbkBTT .dropdown-item:active {
  background-color: transparent;
}
.cid-uqAczbkBTT .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uqAczbkBTT .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uqAczbkBTT .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uqAczbkBTT .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uqAczbkBTT ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-uqAczbkBTT .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uqAczbkBTT button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #fdf2ec;
  background: #ffffff;
}
.cid-uqAczbkBTT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #222222;
}
.cid-uqAczbkBTT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uqAczbkBTT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uqAczbkBTT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uqAczbkBTT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uqAczbkBTT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uqAczbkBTT nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uqAczbkBTT nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uqAczbkBTT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uqAczbkBTT a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-uqAczbkBTT .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uqAczbkBTT .navbar {
    height: 70px;
  }
  .cid-uqAczbkBTT .navbar.opened {
    height: auto;
  }
  .cid-uqAczbkBTT .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uqAczbkBTT .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .cid-uqAczbkBTT .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.cid-uqAczbkBTT .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-uqAczbkBTT .mbr-section-btn-main .btn {
  margin: 0 12px 8px 12px;
  padding: 10px 16px;
}
@media (max-width: 992px) {
  .cid-uqAczbkBTT .mbr-section-btn-main .btn {
    margin: 0 16px 4px;
  }
}
.cid-uqAczbkBTT .navbar-caption:hover {
  color: #222222;
}
@media (min-width: 992px) {
  .cid-uqAczbkBTT .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
@media (min-width: 992px) {
  .cid-uqAczbkBTT .nav-dropdown {
    margin: 0 auto;
  }
}
.cid-uqAczbkBTT .text_widget {
  margin-bottom: 24px;
}
.cid-uqAczbkBTT .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-uqAczbkBTT .text_widget a:hover {
  color: #ff6928 !important;
}
.cid-uqAczbkBTT .mbr-section-subtitle {
  color: #222222;
  text-align: center;
}
.cid-uqAczbkBTT .mbr-text {
  color: #222222;
  text-align: center;
}
.cid-uqAczbkBTT .mbr-section-subtitle,
.cid-uqAczbkBTT .text_widget,
.cid-uqAczbkBTT .mbr-section-btn {
  text-align: center;
}
.cid-uqAczbkBTT a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-uqAcAKKk6O {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fdf2ec;
}
.cid-uqAcAKKk6O .mbr-fallback-image.disabled {
  display: none;
}
.cid-uqAcAKKk6O .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uqAcAKKk6O .container {
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .cid-uqAcAKKk6O .container {
    padding: 0 12px;
  }
}
.cid-uqAcAKKk6O .title-wrapper .mbr-section-title {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-uqAcAKKk6O .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-uqAcAKKk6O .title-wrapper .mbr-section-title span {
  padding: 6px 12px;
  background-color: #ffcd9f;
  border-radius: 16px;
}
@media (max-width: 992px) {
  .cid-uqAcAKKk6O .title-wrapper .mbr-section-title span {
    padding: 0 10px;
    border-radius: 8px;
  }
}
.cid-uqAcAKKk6O .title-wrapper .mbr-text {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-uqAcAKKk6O .title-wrapper .mbr-text {
    margin-bottom: 24px;
  }
}
@media (max-width: 992px) {
  .cid-uqAcAKKk6O .title-wrapper .mbr-section-btn {
    margin-bottom: 40px;
  }
}
.cid-uqAcAKKk6O .title-wrapper .tags-wrapper {
  margin-bottom: 24px;
}
.cid-uqAcAKKk6O .title-wrapper .tags-wrapper .tags-wrap {
  display: inline-block;
}
.cid-uqAcAKKk6O .title-wrapper .tags-wrapper .tags-wrap .tag-item {
  display: inline-flex;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}
.cid-uqAcAKKk6O .title-wrapper .tags-wrapper .tags-wrap .tag-item .mbr-iconfont {
  font-size: 44px;
  margin-right: 8px;
  color: #222222;
}
.cid-uqAcAKKk6O .title-wrapper .tags-wrapper .tags-wrap .tag-item .mbr-tag {
  margin-bottom: 0;
}
.cid-uqAcAKKk6O .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cid-uqAcAKKk6O .image-wrapper img {
  width: 420px;
  height: 420px;
  border-radius: 100%;
  border: 3px solid #222222;
  box-shadow: 4px 4px #222222;
  background-color: #222222;
  object-fit: cover;
}
@media (max-width: 1300px) {
  .cid-uqAcAKKk6O .image-wrapper img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 1200px) {
  .cid-uqAcAKKk6O .image-wrapper img {
    width: 310px;
    height: 310px;
  }
}
@media (max-width: 768px) {
  .cid-uqAcAKKk6O .image-wrapper img {
    width: 280px;
    height: 280px;
  }
}
.cid-uqAcAKKk6O .mbr-section-title {
  color: #222222;
}
.cid-uqAcAKKk6O .mbr-text {
  color: #222222;
}
.cid-uqAcAKKk6O .mbr-tag {
  color: #222222;
}
.cid-uqAcBsmypL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #b4dcfa;
}
.cid-uqAcBsmypL .mbr-fallback-image.disabled {
  display: none;
}
.cid-uqAcBsmypL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uqAcBsmypL .container {
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .cid-uqAcBsmypL .container {
    padding: 0 12px;
  }
}
.cid-uqAcBsmypL .row {
  justify-content: center;
}
.cid-uqAcBsmypL .title-wrapper {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-uqAcBsmypL .title-wrapper {
    margin-bottom: 24px;
  }
}
.cid-uqAcBsmypL .title-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
.cid-uqAcBsmypL .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uqAcBsmypL .card:hover .card-wrapper {
  border: 3px solid #ff6928;
  box-shadow: 4px 4px #ff6928;
}
@media (max-width: 992px) {
  .cid-uqAcBsmypL .card {
    margin-bottom: 32px;
  }
}
.cid-uqAcBsmypL .card .card-wrapper {
  padding: 32px;
  border: 3px solid #222222;
  box-shadow: 4px 4px #222222;
  background-color: #ffffff;
  border-radius: 32px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cid-uqAcBsmypL .card .card-wrapper {
    padding: 20px;
    border-radius: 24px;
  }
}
.cid-uqAcBsmypL .card .card-wrapper .title-wrap {
  margin-bottom: 16px;
}
.cid-uqAcBsmypL .card .card-wrapper .title-wrap .title {
  display: inline-flex;
  align-items: center;
}
.cid-uqAcBsmypL .card .card-wrapper .title-wrap .title .mbr-iconfont {
  font-size: 40px;
  margin-right: 12px;
  color: #ff6928;
}
.cid-uqAcBsmypL .card .card-wrapper .title-wrap .title .mbr-card-title {
  margin-bottom: 0;
}
.cid-uqAcBsmypL .card .card-wrapper .link-wrap {
  display: block;
}
.cid-uqAcBsmypL .card .card-wrapper .link-wrap:hover .mbr-link,
.cid-uqAcBsmypL .card .card-wrapper .link-wrap:focus .mbr-link {
  text-decoration: underline;
}
.cid-uqAcBsmypL .card .card-wrapper .link-wrap .mbr-link {
  display: inline-flex;
  margin-bottom: 0;
}
.cid-uqAcBsmypL .mbr-section-title {
  color: #222222;
  text-align: center;
}
.cid-uqAcBsmypL .mbr-text {
  color: #222222;
  text-align: center;
}
.cid-uqAcBsmypL .mbr-card-title {
  color: #222222;
}
.cid-uqAcBsmypL .mbr-link,
.cid-uqAcBsmypL .link-wrap {
  color: #FF6928;
  text-align: center;
}
.cid-uqAcBsmypL .mbr-card-title,
.cid-uqAcBsmypL .title-wrap {
  text-align: center;
}
.cid-uqG2uqpQ1d {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uqG2uqpQ1d .mbr-fallback-image.disabled {
  display: none;
}
.cid-uqG2uqpQ1d .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uqG2uqpQ1d .container {
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .cid-uqG2uqpQ1d .container {
    padding: 0 12px;
  }
}
.cid-uqG2uqpQ1d .row {
  justify-content: center;
}
.cid-uqG2uqpQ1d .title-wrapper .mbr-section-title {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-uqG2uqpQ1d .title-wrapper .mbr-section-title {
    margin-bottom: 24px;
  }
}
.cid-uqG2uqpQ1d .panel-group .card {
  border-radius: 50px;
  border: 3px solid #ffcd9f;
  box-shadow: 4px 4px #ffcd9f;
  background-color: #fdf2ec;
  padding: 60px;
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .cid-uqG2uqpQ1d .panel-group .card {
    padding: 24px;
    border-radius: 24px;
  }
}
.cid-uqG2uqpQ1d .panel-group .card .card-header {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  padding: 0;
}
.cid-uqG2uqpQ1d .panel-group .card .card-header .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-uqG2uqpQ1d .panel-group .card .card-header .panel-title .panel-title-edit {
  margin-bottom: 0;
}
.cid-uqG2uqpQ1d .panel-group .card .card-header .panel-title .mbr-iconfont {
  font-size: 24px;
  color: #ffcd9f;
  transition: all 0.3s ease-in-out;
}
.cid-uqG2uqpQ1d .panel-group .card .card-header .panel-title:not(.collapsed) .mbr-iconfont {
  transform: rotate(-180deg);
}
.cid-uqG2uqpQ1d .panel-group .card .panel-collapse .panel-body {
  padding-top: 24px;
}
@media (max-width: 992px) {
  .cid-uqG2uqpQ1d .panel-group .card .panel-collapse .panel-body {
    padding-top: 16px;
  }
}
.cid-uqG2uqpQ1d .panel-group .card .panel-collapse .panel-body .panel-text {
  margin-bottom: 0;
}
.cid-uqG2uqpQ1d .mbr-section-title {
  color: #222222;
  text-align: center;
}
.cid-uqG2uqpQ1d .panel-title-edit {
  color: #222222;
}
.cid-uqG2uqpQ1d .panel-text {
  color: #222222;
}
.cid-uqAcMCwnGy {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #b4dcfa;
}
.cid-uqAcMCwnGy .mbr-fallback-image.disabled {
  display: none;
}
.cid-uqAcMCwnGy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .container {
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .cid-uqAcMCwnGy .container {
    padding: 0 12px;
  }
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .title-wrapper {
    margin-bottom: 24px;
  }
}
.cid-uqAcMCwnGy .title-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .title-wrapper .mbr-section-title {
    margin-bottom: 16px;
    text-align: center;
  }
}
.cid-uqAcMCwnGy .title-wrapper .mbr-desc {
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .title-wrapper .mbr-desc {
    margin-bottom: 20px;
    text-align: center;
  }
}
.cid-uqAcMCwnGy .title-wrapper .person-wrapper .person-wrap {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .title-wrapper .person-wrapper .person-wrap {
    display: block;
  }
}
.cid-uqAcMCwnGy .title-wrapper .person-wrapper .person-wrap img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin-right: 12px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .title-wrapper .person-wrapper .person-wrap img {
    margin: 0 auto 12px;
  }
}
.cid-uqAcMCwnGy .title-wrapper .person-wrapper .person-wrap .name-wrap .mbr-name {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .title-wrapper .person-wrapper .person-wrap .name-wrap .mbr-name {
    text-align: center;
  }
}
.cid-uqAcMCwnGy .title-wrapper .person-wrapper .person-wrap .name-wrap .mbr-role {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .title-wrapper .person-wrapper .person-wrap .name-wrap .mbr-role {
    text-align: center;
  }
}
.cid-uqAcMCwnGy .dragArea.row .form-group {
  margin-bottom: 16px !important;
}
.cid-uqAcMCwnGy .dragArea.row .form-group .form-control {
  padding: 34px 26px;
  border: none !important;
  box-shadow: none;
  border-radius: 12px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .dragArea.row .form-group .form-control {
    padding: 24px 26px;
  }
}
.cid-uqAcMCwnGy .dragArea.row .form-group .form-control:hover,
.cid-uqAcMCwnGy .dragArea.row .form-group .form-control:focus {
  border: none !important;
  box-shadow: none;
}
.cid-uqAcMCwnGy .dragArea.row .form-group .form-control::placeholder {
  color: #666666;
}
.cid-uqAcMCwnGy .dragArea.row .form-group textarea {
  min-height: 102px;
}
.cid-uqAcMCwnGy .dragArea.row .form-group .form-check {
  padding-left: 2.3rem;
}
.cid-uqAcMCwnGy .dragArea.row .form-group .form-check .form-check-input {
  background-color: #ff6928;
  border-color: #ff6928;
}
.cid-uqAcMCwnGy .dragArea.row .mbr-section-btn {
  width: 100%;
}
@media (max-width: 992px) {
  .cid-uqAcMCwnGy .dragArea.row .mbr-section-btn {
    text-align: center;
  }
}
.cid-uqAcMCwnGy .dragArea.row .mbr-section-btn .btn {
  display: inline-flex;
}
.cid-uqAcMCwnGy .mbr-section-title {
  color: #222222;
}
.cid-uqAcMCwnGy .mbr-desc {
  color: #222222;
}
.cid-uqAcMCwnGy .mbr-name {
  color: #222222;
}
.cid-uqAcMCwnGy .mbr-role {
  color: #222222;
}
.cid-uqG4Qv1hmU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uqG4Qv1hmU .mbr-fallback-image.disabled {
  display: none;
}
.cid-uqG4Qv1hmU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uqG4Qv1hmU .container {
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .cid-uqG4Qv1hmU .container {
    padding: 0 12px;
  }
}
.cid-uqG4Qv1hmU .title-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
.cid-uqG4Qv1hmU .list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  color: #222222;
}
.cid-uqG4Qv1hmU .list li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 36px;
}
.cid-uqG4Qv1hmU .list li:before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #e3b4fa;
  width: 22px;
  height: 22px;
  font-size: 14px;
  border-radius: 50%;
}
.cid-uqG4Qv1hmU .mbr-section-title {
  color: #222222;
}
.cid-uqAcLwqmOv {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-uqAcLwqmOv .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uqAcLwqmOv .social-row {
  width: 100%;
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-uqAcLwqmOv .align-left {
    text-align: center;
    padding-bottom: 1rem;
  }
}
.cid-uqAcLwqmOv .row {
  justify-content: center;
  align-items: center;
}
.cid-uqAcLwqmOv .row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-uqAcLwqmOv .row .foot-menu li {
  padding-left: 1.5rem;
}
.cid-uqAcLwqmOv .row .foot-menu li a {
  margin: 0;
}
@media (max-width: 992px) {
  .cid-uqAcLwqmOv .row .foot-menu {
    justify-content: center;
  }
}
.cid-uqAcLwqmOv .row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-uqAcLwqmOv .row .row-copirayt p {
  width: 100%;
}
.cid-uqAcLwqmOv .mbr-text {
  color: #263d5a;
}
.cid-uqAcLwqmOv .foot-menu-item {
  color: #263d5a;
  text-align: right;
}
